body{
   background-image: url("http://4.bp.blogspot.com/-zhybbt13LwA/Uh8ptePt-sI/AAAAAAAABPk/VKG_5nO5Zm4/s1600/Background-X-Repeat2.jpg");
   background-repeat: repeat; 
}
.image-heigh{
    height: 15rem;
    margin: 0;
    padding: 5px;
    width: 
    
}